body {
  background-color: #dfe6e9;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
  color: white;

  font-size: 30px;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 4px solid white;
  width: 500px;
  font-size: 35px;
}

input:focus {
  box-shadow: 0 4px 2px -2px #666;
  outline-width: 0;
}

.js-todoDiv {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.js-nameDiv {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.ghost {
  display: none;
}

.display {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
}

.js-toDoList,
.js-asIsList {
  width: 100%;
  text-align: center;
}

.js-clock {
  font-size: 100px;
  text-align: center;
}

.js-weather {
  text-align: right;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.per100 {
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bgImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 1s linear;
}
